
@{
    ViewBag.Title = "Index";
}



    <div class="container">
        <div class="item-display">
            <div class="row">
                <div class="col-xs-6"> <span class="product-num">Showing 1 - 10 of 30 products</span> </div>

                <!-- Products Select -->
                <div class="col-xs-6">
                    <div class="pull-right">

                        <!-- Short By -->
                        <select class="selectpicker">
                            <option>Short By</option>
                            <option>Short By</option>
                            <option>Short By</option>
                        </select>
                        <!-- Filter By -->
                        <select class="selectpicker">
                            <option>Filter By</option>
                            <option>Short By</option>
                            <option>Short By</option>
                        </select>

                        <!-- GRID & LIST -->
                        <a href="#." class="grid-style"><i class="icon-grid"></i></a> <a href="#." class="list-style"><i class="icon-list"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular Item Slide -->
        <div class="papular-block row single-img-demos">

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="../../Scripts/images/images.jfif" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="../../Scripts/images/product-2-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#" data-price="5" class="add-to-cart"> <i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#">stone cup</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="../../Scripts/images/images.jfif" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="../../Scripts/images/product-2-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#" data-price="5" class="add-to-cart"> <i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#">stone cup</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="../../Scripts/images/images.jfif" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="../../Scripts/images/product-2-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#" data-price="5" class="add-to-cart"> <i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#">stone cup</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="../../Scripts/images/images.jfif" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="../../Scripts/images/product-2-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#" data-price="5" class="add-to-cart"> <i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#">stone cup</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>
        </div>
    </div>